@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';font-size: 20px;
    background-color: #ffffff;
}

input[type=number]{
    font-size: 1.5rem;
    margin-right: 5vw;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    box-sizing: border-box;
    width: 40vw;
}

input[type=number]:focus{
    outline: none;
}

h1 {
    text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
    color: white;
    text-align: center;
 }

 #avg{
    font-size: 0.8rem;
    color: white;
 }
 #fb-url{
    text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
    color: white;
    font-size: 0.8rem;
    position: absolute;
    bottom: 83vh;
    right: 49vw;
    /* font-weight: bold; */
 }
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-unit{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.wrapper{
    margin-bottom: 1rem;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 1rem;
    border-radius: 0.6rem;
    width: 50vw;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.2);
}

#price-dsplay{
    font-size: 4rem;
}

#discount-price{
    font-size: 3rem;
    color: mediumvioletred;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 600px) {

    .wrapper{
        margin-bottom: 1rem;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        padding: 1rem;
        border-radius: 0.6rem;
        width: 90%;
    }

}